* {
  box-sizing: border-box;
  margin: 0;
}

/*************** GENERAL ***************/

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  color: rgb(44, 44, 44);
}

nav,
.container {
  display: flex;
  padding: 0 10vh;
}

h1,
h2,
h3,
#logo {
  font-family: "Archivo Black", sans-serif;
}

h2 {
  font-size: 2.4rem;
  font-style: italic;
}

main {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/*************** HEADER ***************/

nav {
  align-items: center;
  justify-content: space-between;
  padding: 20px 10vh;
}

#logo {
  font-size: 2rem;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a:hover {
  text-decoration: overline;
}

header,
#banner {
  background-color: #5902ec;
  color: white;
}

#banner {
  height: 90vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#banner-img {
  flex: 1;
  width: 70vh;
}

#banner-text {
  flex: 1;
  text-align: left;
}

#banner-text h1 {
  font-size: 4rem;
  line-height: 0.5em;
}

h1 > span {
  font-size: 2rem;
  text-transform: capitalize;
}

#banner-text p {
  margin: 30px 0;
}

.banner-button {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 20px;
  padding: 15px 15px;
  border: 1px solid white;
  border-radius: 10px;
}

.banner-button:hover {
  background-color: white;
  color: #5902ec;
}

/*************** BLOCK "MEDIA-TYPES ***************/

#media-types {
  padding-top: 10vh;
  height: 100vh;
  flex-direction: column;
}

.card-deck {
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.card-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-image: url(/media/svg-violet/2.svg);
  background-size: cover;
}

.card:nth-child(2) .card-top {
  background-image: url(/media/svg-violet/4.svg);
}

.card:nth-child(3) .card-top {
  background-image: url(/media/svg-violet/1.svg);
}

.card:nth-child(4) .card-top {
  background-image: url(/media/svg-violet/5.svg);
}

.card img {
  height: auto;
  width: 150px;
  border-radius: 5px;
}

.media-buttons {
  display: flex;
  justify-content: center;
}

.button {
  padding: 15px;
  color: #5902ec;
  font-size: 1.2rem;
  font-weight: 500;
}

h3 {
  text-transform: uppercase;
  margin: 0 20px;
}

h4 {
  display: none;
  font-size: 1.2rem;
}
