* {
  box-sizing: border-box;
  margin: 0;
}

/***** GENERAL *****/

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
}

nav,
.container {
  display: flex;
  padding: 0 10vh;
}

h1,
#logo {
  font-family: "Archivo Black", sans-serif;
}

main {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/***** HEADER *****/

nav {
  align-items: center;
  justify-content: space-between;
  padding: 20px 10vh;
}

#logo {
  font-size: 2rem;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a:hover {
  text-decoration: overline;
}

header,
#banner {
  background-color: brown;
  color: white;
}

#banner {
  height: 90vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#banner-img {
  flex: 1;
  width: 70vh;
}

#banner-text {
  flex: 1;
  text-align: left;
}

#banner-text h1 {
  font-size: 3rem;
  line-height: 1em;
}

h1 > span {
  font-size: 2rem;
  text-transform: capitalize;
}

#banner-text p {
  margin: 30px 0;
}

.banner-button {
  display: inline-block;
  font-size: 1rem;
  font-weight: bolder;
  margin-right: 20px;
  padding: 15px 15px;
  border: 1px solid white;
  border-radius: 10px;
}

.banner-button:hover {
  background-color: white;
  color: #a52a2a;
}
